body {
  background-color: hsl(220, 15%, 55%);
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(212, 45%, 89%) (228, 45%, 44%);
  }
  p.text {
    background-color: white;
  }
  .img {
    width: 20vw;
    height: 9vh;
  }
}
