@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  .container {
    max-width: 360px;
    margin: 0 auto;
    .card {
      background-color: white;
      padding: 19px;
      border-radius: 19px;
    }
    .card img {
      width: 100%;
      border-radius: 15px;
    }
    .text {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 75px;
      h3 {
        padding-bottom: 15px;
      }
      p {
        color: hsl(220, 15%, 55%);
      }
    }
  }
}
